body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

.intro {
    text-align: center;
    background-image: url(images/Polar-Bear-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.intro h1 {
    font-size: 60px;
    color: red;
}

.intro p {
    margin-bottom: 30px;
}

.link-button {
    background-image: linear-gradient(rgb(124, 124, 201), navy);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
}