body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.intro {
    margin-top: 0%;
    text-align: center;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 300px;
}

.intro h1 {
    padding-top: 20px;
    font-size: 100px;
    color: white;
}

.intro h2 {
    font: 2000px;
    margin-bottom: 100px;
    color: white;
}

.link-button {
    background-image: linear-gradient(rgb(124, 124, 201), navy);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
}