body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

.intro-bg {
    position: relative;
    text-align: center;
    color: white;
}

.intro-center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-h1 {
    font-size: 60px;
    color: white;
}

#intro-h2 {
    font-size: 30px;
    color: white;

}

.link-button {
    background-color: rgb(233, 42, 42);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
}

#donation {
    text-align: center;
}

#donation h1 {
    font-size: 40px;
}

#donation p {
    font-size: 20px;
    padding-left: 350px;
    padding-right: 350px;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.amount {
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
}

#donate-now {
    margin-top: 40px;
    margin-bottom: 150px;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid rgb(149, 148, 148);
    width: 800px;

}

#other-amount p {
    color: rgb(153, 152, 152);

}

#activities {
    text-align: center;
}

#activities h1 {
    font-size: 40px;
}

.activities-para {
    font-size: 20px;
    padding-left: 350px;
    padding-right: 350px;

}

.what-we-do {
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
}

.float-img {
    float: left;
    margin-bottom: 20px;
}

.activities-text {
    margin-top: 18%;
    text-align: left;

}

.activities-heading {
    text-align: left;
    color: black;
    font-size: x-large;
    font-weight: bold;
}

footer h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

footer p {
    text-align: center;
    color: blanchedalmond;
}

#site-footer {
    height: 200px;
    background: black;
}